:root {
  background: black;
  --text-primary: #919191;
  text-align: center;
  line-height: calc(1em + 5px);
  font-family: 'Roboto', sans-serif;
  margin-left: 5rem;
  --scroll-bar-color: #4e4e4e;
  --scroll-bar-background-color: #949494;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

* {
  color: var(--text-primary);
}

/*  Custom scroll bar vv */

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: var(--scroll-bar-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-background-color);
}

/* Custom scroll bar ^^ */

/* Cool nav bar vv */

.sidenav {
  display: flex;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(76 73 73);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  flex-direction: column;
  align-items: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


#sideNavButton{
  font-size:30px;
  cursor:pointer;
  float: left;
}