img {
  max-width: 500px;
  max-height: 500px;
}

.projects {
  display: grid;
  grid-template-columns: calc(50% - 5rem) calc(50% - 5rem);
  gap: 2.5vw;
}

.item-1 {
  grid-area: 1 / 1;
}

.item-2 {
  grid-area: 1 / 2;
}

.gh-Button {
  background-color: rgba(36, 36, 36, 0.39);
  width: 13vw;
  height: 7vh;

  border-radius: 7.5%;
  justify-content: center;
  align-items: center; 

  display: inline-flex;

  text-decoration: none;
  /*cursor: pointer;*/
  font-size: 225%;
}

.gh-Button:hover {
  background-color: rgba(36, 36, 36, 0.7);
  transform: scale(.95);
  transition: all 0.3s ease-in-out;
  
}

.gh-Button:not(:hover) {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

summary > h2 {
  display: inline;
}

details > ul > li {
  background-color: rgba(36, 36, 36, 0.39);
  width: 15vw;
  height: 6.5vh;
  border-radius: 7.5%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-left: .5vw;
}

details > ul > li > * {
  text-decoration: none;
}