:root {
  background: black;
  --text-primary: #919191;
  text-align: center;
  line-height: calc(1em + 5px);
  font-family: 'Roboto', sans-serif;
  margin-left: 5rem;
  --scroll-bar-color: #4e4e4e;
  --scroll-bar-background-color: #949494;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

* {
  color: var(--text-primary);
}

/*  Custom scroll bar vv */

body {
}

body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: var(--scroll-bar-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-background-color);
}

/* Custom scroll bar ^^ */

/* Cool nav bar vv */

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  width: 5rem;
  left: 0px;
  height: 100%;
  padding: 0px !important;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
  color: var(--text-primary)
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}


#nav-logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: inline;
}

/* Cool nav bar ^^ */

main {
  padding-top: 7.5px;
}

.logo {
  height: calc(1em - 6px);
}

img {
  max-width: 500px;
  max-height: 500px;
}

video {
  max-width: 500px;
  max-height: 500px;
}


@media screen and (min-width: 600px) {
  .independent{
    display: grid;
    grid-gap: 5px;
  }
  
  .prime_Check {
    grid-column: 1;
    grid-row: 1;
  }
  
  .prime_list {
    grid-column: 2;
    grid-row: 1;
  }
  
  .generator {
    grid-column: 1;
    grid-row: 2;
  }
  
  .converter {
    grid-column: 2;
    grid-row: 2;
  }
  
  .WWTBAM {
    grid-column: 1;
    grid-row: 3;
  }
  
  .this {
    grid-column: 1;
    grid-row: 3;
  }
  
  .Comunity {
    display: grid;
    grid-gap: 20px;
  }
    
  .iframe {
    grid-row: 1;
    grid-column: 2;
  }
  
  .text {
    grid-row: 1;
    grid-column: 1;
  }
}