* {
  background: black;
  color: #787878;
  text-align: center;
  top-padding: 7.5px;
  line-height: calc(1em + 5px);
  font-family: 'Roboto', sans-serif;
}

.logo {
  height: calc(1em - 6px);
}

.made{
  display: grid;
  grid-gap: 10px;
}

img {
  max-width: 500px;
  max-height: 250px;
}

video {
  max-width: 500px;
  max-height: 500px;
}

.prime_Check {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  border: 2px #787878 solid;
}

.prime_list {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  border: 2px #787878 solid;
}

.this {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  border: 2px #787878 solid;
}

.Comunity {
  display: grid;
  grid-gap: 20px;
}

.iframe {
  grid-row: 1;
  grid-column: 1;
}

.text {
  grid-row: 1;
  grid-column: 2;
}